$primary-red: #F44336;
$primary-yellow: #FFC107;
$primary-green: #4CAF50;
$primary-blue: #1E88E5;
$primary-white: #FFFFFF;
$primary-black: #000000CC;
$primary-grey: #ADB5BD;
$secondary-red: #FAA19B;
$secondary-yellow: #FFE083;
$secondary-green: #A6D7A8;
$secondary-blue: #8FC4F2;
$secondary-grey: #D6DADE;

$title-big: 50px;
$title-medium: 40px;
$title-small: 30px;
$main-info: 25px;
$secondary-info: 20px;
$content: 16px;

$regular: 'FakePearl-Regular';
$light: 'FakePearl-Light';

$border-radius-circle: 50%;


@font-face {
  font-family: 'FakePearl-Regular';
  src: url("https://torpedo228.github.io/resources/yola/fonts/FakePearl-Regular.woff") format("woff");
}

@font-face {
  font-family: 'FakePearl-Light';
  src: url("https://torpedo228.github.io/resources/yola/fonts/FakePearl-Light.woff") format("woff");
}