$primary-red:#EB4132;
$primary-yellow:#FBBD01;
$primary-green:#31AA52;
$primary-blue:#4086F4;
$primary-white:#FFFFFF;
$primary-black:#000000CC;
$primary-grey:#ADB5BD;
$secondary-red:#F5A099;
$secondary-yellow:#FDDE80;
$secondary-green:#98D5A9;
$secondary-blue:#A0C3FA;
